*{
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: none;
    padding: 8px;
    background-color: dimgray;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(223, 217, 217);
    color: black;
}
a {
    color: blue;
    text-decoration: none;
}

.ejer1 {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 20px;
}

/*ejercicio 2*/
.ejer2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding-top: 50px;
}

#cuenta {
    border-radius: 50%;
    background-color: rgb(182, 212, 150);
    padding: 30px;
    padding-left: 34px;
    padding-right: 34px;
}

/*ejercicio 3*/
.btnLista {
    margin-left: 10px ;
}

li {
    padding-bottom: 10px;
}

/*ejercicio 4*/
.ejer4 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-top: 20px;
}

/*ejercicio 5*/
.calculadora {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20px;
}

/*ejercicio 7 y 8 */
.detalle, .parrafo, .contador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}